*.map
.idea/*
.settings/*
.vscode/*

runtime/*.js
!runtime/callconvtest.js

.DS_Store

porttests.js

node_modules/*
.atomignore

.alm/sessionsV2.json

devtools/*.js
runtime/builtin/*.js
runtime/builtin/UI/*.js
runtime/su_global_builtins.json
CodeMirror/*_bundle.js
