.CodeMirror-dialog {
    background: #f7f7f7;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
}

.CodeMirror-dialog-replace {
    border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.CodeMirror-dialog-search {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.CodeMirror-button-replace {
	width: 109px;
}

.CodeMirror-button-search {
	width: 70px;
}

.CodeMirror-dialog input {
    border: 1px solid #ddd;
    outline: none;
    color: inherit;
    font-family: monospace;
}

.CodeMirror-dialog button {
    font-size: 70%;
	float: right;
	margin-left: 4px;
	margin-right: 4px;
}
