.CodeMirror-dialog {
    background: #f7f7f7;
    z-index: 15;
    padding: .1em .8em;
    overflow: hidden;
    color: inherit;
    height: 21px;
}

.CodeMirror-dialog-replace {
    border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.CodeMirror-dialog-search {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.Suneido-search-button {
    float: right;
    margin-left: 4px;
	margin-right: 4px;
    vertical-align: middle;
    border: 1px solid #000;
}

.Suneido-search-field {
    border: 1px solid #ddd;
    outline: none;
    color: inherit;
    font-family: monospace;
    width: 50%;
}

.Suneido-search-lable {
    display: block;
    float: left;
    width: 8ch;
}
