@charset 'UTF-8';

/*Theme for suneido mode*/
.cm-s-suneido .cm-keyword {
    color: #0000ff;
    font-weight: 900;
}

.cm-s-suneido .cm-number {
    color: #999933;
}

.cm-s-suneido .cm-variable {
}

.cm-s-suneido .cm-comment {
    color: #007f00;
}

.cm-s-suneido .cm-string {
    color: #7f007f;
}

/*bracket matching*/
div.CodeMirror span.CodeMirror-matchingbracket {
    color: #fff;
    background: #090;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #fff;
    background: #f00;
}

/*auto highlighting words*/
.cm-indicator {
    border: 1px solid #bbb;
}